<div class = 'headers'> 
<h1>Forecast</h1>
<h3><%= "Date: " + @forecast.date %></h3>
<h3><%= "Direction: " + @forecast.direction %></h3>
</div> 

<div id = 'buttons'> 
<%@forecast.duration_info.keys.map do |name| %>
<%= button_to "#{name.to_s}" %>
<% end %>
</div>

<div id = 'forecast'> 
<div id = 'forecast_title'>
<%button_placeholder = :Loveland %>
<h3><%= button_placeholder.to_s %></h3>
</div>
<div>
<%= "Drive time without traffic: #{@forecast.duration_info[button_placeholder].values.first[:duration] / 60 } minutes" %>
</div>
<ul>
<%time = (Time.local(1,1,1) + 19800 )%>
<%@forecast.duration_info[button_placeholder].each do |time_info| %> 
<li><%="Departure time: #{time.strftime("%I:%M%p")} Estimated travel time: #{(time_info.second[:duration_with_traffic] / 60)} minutes Additional drive time: #{(((time_info.second[:duration_with_traffic] - time_info.second[:duration])) / (time_info.second[:duration]).to_f * 100).to_i}%"%></li>
<% time += 900 %>
<%end%>
</ul>
</div> 

